*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-container {
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}
h1,h2,h3{
    margin-bottom: 15px;
}
button{ 
    padding: 10px 15px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}
#start-btn,
#restart-btn{
    background-color: #667eea;
    color: white;
}
#start-btn:hover,
#restart-btn:hover{
    background-color: #5a67d8;
}
#options{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.option-btn{
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}
.option-btn:hover{
    background-color: #ddd;
}
.correct{
    background-color: #4caf50 !important;
    color: white;
}
.wrong{
    background-color: #e63946 !important;
    color: white;
}